<a href="https://colab.research.google.com/github/atik-bd/MSc-BA/blob/main/Data_Types_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INTRODUCTORY PROGRAMMING, DATABASES AND STATISTICS

In [ ]:
print('Exercise 2: Data Types and Variables\nName: Atik Mahbub\nID: 20062447')

Exercise 2: Data Types and Variables
Name: Atik Mahbub
ID: 20062447

In [ ]:
#1.Create a variable age and assign it the value 25.
age=25
print(age)

25

In [ ]:
#2.Create a variable name and assign it a string containing your name.
name='Atik Mahbub'
print(name)

Atik Mahbub

In [ ]:
#3.Print the type of the variable age.
type(age)

int

In [ ]:
#4.Convert the variable age to a string and store it in a new variable age_str.
age_str = str(age)
print(age_str)

25

In [ ]:
#5.Create a variable height and assign it the value 175.5 (floating-point number).
height=175.5
print(height)

175.5

In [ ]:
#6.Print the type of the variable height.
type(height)

float

In [ ]:
#7.Create a variable is_student and assign it a boolean value representing whether you are a student or not.
is_student=True
print(is_student)

True

In [ ]:
#8.Print the type of the variable is_student.
type(is_student)

bool

In [ ]:
#9.Create a list colors containing the names of three colors.
colors=['Blue','Black','Brown']
print(colors)

['Blue', 'Black', 'Brown']

In [ ]:
#10.Print the second element of the list colors.
colors[1]

'Black'

In [ ]:
#11.Create a tuple dimensions containing the length, width, and height of a box.
dimensions=(10,20,30)
print(dimensions)

(10, 20, 30)

In [ ]:
#12.Print the third element of the tuple dimensions.
dimensions[2]

30

In [ ]:
#13.Create a dictionary person with keys "name", "age", and "city", and assign appropriate values.
person={'name':'Atik','age':33,'city':'Dhaka'}
print(person)

{'name': 'Atik', 'age': 33, 'city': 'Dhaka'}

In [ ]:
#14.Print the value associated with the key "age" in the dictionary person.
person['age']

33

In [ ]:
#15.Create a set unique_numbers containing three unique integers.
unique_numbers={1,2,3}
print(unique_numbers)

{1, 2, 3}

In [ ]:
#16.Add a new integer to the set unique_numbers.
unique_numbers.add(4)
print(unique_numbers)

{1, 2, 3, 4}

In [ ]:
#17.Create a variable x and assign it the value 10.
x=10
print(x)

10

In [ ]:
#18.Increment the value of x by 5.
x+=5
print(x)

15

In [ ]:
#19.Create a variable y and assign it the value of x squared
y=x**2
print(y)

225

In [ ]:
#20.Swap the values of variables x and y.
x,y=y,x
print(x,y)

225 15