<a href="https://colab.research.google.com/github/atik-bd/MSc-BA/blob/main/Intro%20to%20Programming_%20Exam_Solution_Jan'25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1

In [66]:
'''a. Below is some code where the input is assumed to be a single numerical input,
 which is the number 3. What would the output of this code be when executed?'''
def check_input_type(data):
  try:
    if isinstance(data, str):
      if len(data) == 1:
        print("Input is a character")
      else:
        print("Input is a string")
    elif isinstance(data, (int, float)):
       print("Input is numerical")
    else:
       raise TypeError("Input must be a string, numerical, or character")
  except TypeError as e:
    print(f"Error: {e}")
# Fixed input
input_data = 3
# Call the function
check_input_type(input_data)

Input is numerical

**b. Define for and while loops and give a use case where you would pick one over the other?**

**For Loop:**
A for loop is used when we know in advance how many times we want to execute a block of code. It loops over a sequence (like a list, a range of numbers, etc.).

**While Loop:**
A while loop keeps running as long as a certain condition is True. We use it when we don't know in advance how many times the loop should run — it depends on a dynamic condition.

**When to pick one over the other?**

We use a for loop when we know exactly how many times we want to loop (e.g., iterating through a list of items, processing a fixed number of files).

We use a while loop when the number of iterations depends on something happening during the loop (e.g., waiting for a user to input a valid password, or retrying until a network connection is made).

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

**C. Below is code that should produce a count equal to how many iterations have taken place. There is a mistake. What fix is needed to correct this?**

Count starts at 0, and you increase it by 1 before printing —
so at Iteration 0, count is already 1, which is off.
You should print count before incrementing.

In [69]:
def count_iterations():
  count = 0
  target_count = 5
  for i in range(target_count+1):
   count += 1
   print(f"Iteration: {i}, Count: {count}")
count_iterations()

Iteration: 0, Count: 1
Iteration: 1, Count: 2
Iteration: 2, Count: 3
Iteration: 3, Count: 4
Iteration: 4, Count: 5
Iteration: 5, Count: 6

In [70]:
# Solution
def count_iterations():
    count = 0
    target_count = 5
    for i in range(target_count + 1):
        print(f"Iteration: {i}, Count: {count}")
        count += 1
count_iterations()

Iteration: 0, Count: 0
Iteration: 1, Count: 1
Iteration: 2, Count: 2
Iteration: 3, Count: 3
Iteration: 4, Count: 4
Iteration: 5, Count: 5

**D) What outputs are produced by the following code?**
The error message "SyntaxError: cannot assign to expression" indicates that you are trying to assign a value to an expression, which is not allowed in Python. In the line product_result = x * z = 31.0, you are attempting to assign the value 31.0 to the expression x * z, which is invalid.

The expression x * z is evaluated first, resulting in a value, and you can assign this value to a variable (like product_result), but you can't assign another value (31.0) to the expression itself.

Essentially, you're trying to do two assignments in one line, which Python's syntax doesn't support. You need to separate these assignments into two distinct steps.

In [71]:
# Assign values to variables
x = 10
y = 5.5
z = 2
# Perform calculations
x = x + y
product_result = x * z #= 31.0
division_result = y / z
x = x + y
# Print two of the results
print("value of x :", x)
print("The product of x and z is:", product_result)

value of x : 21.0
The product of x and z is: 31.0

**E) What happens when you try to run the following code and why?**
   
   result /= (i - i)
   this line is redundant as it tries to divide by o, and it will return a ZeroDivisionError. We need to remove it

In [72]:
def factorial(n):
  if n < 0:
   raise ValueError("Factorial is not defined for negative numbers.")
  else:
   result = 1
  for i in range(1, n + 1):
   result *= i
   #result /= (i - i)
  return result
# Calculate the factorial of 6
number = 6
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 6 is 720


**F) Identify what’s wrong in the following code and give corrected code.**
The error message "TypeError: unsupported operand type(s) for /: 'int' and 'str'" indicates that the code is trying to perform division between an integer (minutes) and a string ("60"). This is not allowed in Python, as division is only defined for numerical types.

The error is likely happening in the following line:

result = minutes / "60"

In [74]:
def convert_to_minutes_seconds(seconds):
  if not 1 <= seconds <= 1000:
    raise ValueError("Seconds must be between 1 and 1000.")
  minutes = seconds // 60 # Calculate the number of minutes
  remaining_seconds = seconds % 60 # Calculate the remaining seconds
  #result = minutes / 60
  return f"{minutes} minutes and {remaining_seconds} seconds"
# Get input from the user
seconds = int(input("Enter the number of seconds (between 1 and 1000): "))
time_str = convert_to_minutes_seconds(seconds)
print(time_str)

Enter the number of seconds (between 1 and 1000): 999
16 minutes and 39 seconds

**G) For the following while statement how many times will an output message be printed any why?**

Each time, the value is halved (rounded down).
It keeps halving until it becomes 1 or less.
The loop stops before printing when the value reaches 1.

In [75]:
rowsToBeProcessed = 100
while rowsToBeProcessed > 1:
 print("Processing Record", rowsToBeProcessed)
 rowsToBeProcessed = rowsToBeProcessed // 2

Processing Record 100
Processing Record 50
Processing Record 25
Processing Record 12
Processing Record 6
Processing Record 3

**H) What common interrupts can be used in python to escape a loop?**

In [76]:
""" 1. break
Instantly stops the loop, even if the loop condition is still True.
Typically used when a certain condition inside the loop is met."""

while True:
    user_input = input("Type 'exit' to stop: ")
    if user_input == 'exit':
      break

Type 'exit' to stop: exit

In [77]:
"""2. return
Exits the entire function immediately, not just the loop.
return is used inside functions when we want to stop looping and return a value (or nothing)."""

def xx():
  while True:
    user_input = input("Type 'exit' to stop: ")
    if user_input == 'exit':
      return
xx()

Type 'exit' to stop: exit

In [78]:
"""3. raise (Exception)
Throws an exception to stop the loop (and program) when something unexpected happens.
Often used for serious errors where the loop should not continue."""
for i in range(5):
    if i == 3:
        raise Exception("Something went wrong at 3!")
    print(i)

0
1
2

Exception: Something went wrong at 3!

**I) What are the outputs of the following code?**

In [79]:
import math
result1 = (15 > 10) or (5 > 10)
print(f"(15 > 10) or (5 > 10) = {result1}")
number = 5
result2 = math.factorial(number)
print(f"5! = {result2}")
num1 = 10
num2 = 7
result3 = num1 != num2
print(f"10 != 7 = {result3}")
num1 = 3
num2 = 8
result4 = not (num1 > num2)
print(f"not (3 > 8) = {result4}")
result5 = (math.factorial(3) > 10) or (math.factorial(2) < 3)
print(f"(3! > 10) or (2! < 3) = {result5}")
num1 = 5
num2 = 5
result6 = not (num1 != num2)
print(f"not (5 != 5) = {result6}")

(15 > 10) or (5 > 10) = True
5! = 120
10 != 7 = True
not (3 > 8) = True
(3! > 10) or (2! < 3) = True
not (5 != 5) = True

**J) The following code runs successfully. What design flaw(s) would be exposed with different inputs?**

The design flaw appears when the input list is empty! and This will cause a ZeroDivisionError. The function does not check if the list is empty before trying to divide by the length.

If you pass an empty list, the program will crash.

In [80]:
def calculate_average(numbers):
 total = sum(numbers)
 return total / len(numbers)
my_numbers = [1, 2, 3, 4, 5]
average = calculate_average(my_numbers)
print(f"The average is: {average}")

The average is: 3.0

In [81]:
# Solution
def calculate_average(numbers):
 if not numbers:
  raise ZeroDivisionError("The list of numbers is empty!")
 total = sum(numbers)
 return total / len(numbers)
my_numbers = [1, 2, 3, 4, 5]
average = calculate_average(my_numbers)
print(f"The average is: {average}")

The average is: 3.0

# Q2

In [82]:
# Write code to make the table below with pandas and data frames.
from pandas import DataFrame
table= {
    'Car Brand':['Toyota', 'Honda', 'Ford','Chevrolet', 'Tesla'],
    'Name': ['Camry','Civic','F-150', 'Silverado', 'Model 3'],
    'Price ($)': ['25,000','20,000', '30,000', '35,000', '45,000'],
    'Units Sold': ['1,200,000', '1,000,000', '800,000', '750,000', '600,000']
}
df=DataFrame(table)
print(df)

   Car Brand       Name Price ($) Units Sold
0     Toyota      Camry    25,000  1,200,000
1      Honda      Civic    20,000  1,000,000
2       Ford      F-150    30,000    800,000
3  Chevrolet  Silverado    35,000    750,000
4      Tesla    Model 3    45,000    600,000

In [83]:
'''Once you have that table write code to select the tesla row and edit
the units sold to 700,000.'''
#df=df.drop('Tesla', axis=0) delete a column
#df=df.drop('Name', axis=1) delete a column
#df.loc[]=value
df.loc[df['Car Brand'] == 'Tesla','Units Sold']='700,000'
DataFrame(df)

   Car Brand       Name Price ($) Units Sold
0     Toyota      Camry    25,000  1,200,000
1      Honda      Civic    20,000  1,000,000
2       Ford      F-150    30,000    800,000
3  Chevrolet  Silverado    35,000    750,000
4      Tesla    Model 3    45,000    700,000

In [84]:
#Another column should be added to calculate the profit which should be units sold multiplied by price.
df['Profit']=df['Price ($)'].str.replace(',','').astype(int)*df['Units Sold'].str.replace(',','').astype(int)
#df=df.drop('profit', axis=1) delete a column
print(df)

   Car Brand       Name Price ($) Units Sold       Profit
0     Toyota      Camry    25,000  1,200,000  30000000000
1      Honda      Civic    20,000  1,000,000  20000000000
2       Ford      F-150    30,000    800,000  24000000000
3  Chevrolet  Silverado    35,000    750,000  26250000000
4      Tesla    Model 3    45,000    700,000  31500000000

# Q3

In [85]:
#Write code to make the table below using data frames and pandas
from pandas import DataFrame
table3={
    'City':['London','Paris','New York', 'Tokyo','Sydney'],
    'Precipitation (mm)': [2.5, 0,5,10,0],
    'Wind Speed (km/h)': [15,10,20,5,25]
}
df3=DataFrame(table3)
print(df3)

       City  Precipitation (mm)  Wind Speed (km/h)
0    London                 2.5                 15
1     Paris                 0.0                 10
2  New York                 5.0                 20
3     Tokyo                10.0                  5
4    Sydney                 0.0                 25

In [86]:
#Make the code prompt the user for a city and start by printing that row and continuing to print each subsequent row.
city_name=input('Please enter a city name: ')
start_index=df3[df3['City']==city_name].index[0]
# print(df3.loc[:start_index]) before
print(df3.loc[start_index:])

Please enter a city name: Paris
       City  Precipitation (mm)  Wind Speed (km/h)
1     Paris                 0.0                 10
2  New York                 5.0                 20
3     Tokyo                10.0                  5
4    Sydney                 0.0                 25

In [87]:
from pandas import DataFrame
'''
table3 = {
    'City': ['London', 'Paris', 'New York', 'Tokyo', 'Sydney'],
    'Precipitation (mm)': [2.5, 0, 5, 10, 0],
    'Wind Speed (km/h)': [15, 10, 20, 5, 25]
}
df3 = DataFrame(table3)
print("Original DataFrame:")
print(df3)

city_name = input('Please enter a city name: ')
start_index = df3[df3['City'] == city_name].index[0]'''

# Collect rows to be printed in a list
rows_to_print = []

# Add initial selection to the list
rows_to_print.extend(df3.loc[start_index:].to_dict('records'))

# Add remaining rows, looping if necessary
total_rows_printed = len(df3) - start_index
remaining_rows = 15 - total_rows_printed

current_index = 0
while total_rows_printed < 15:
    rows_to_print.append(df3.loc[current_index].to_dict())
    total_rows_printed += 1
    current_index = (current_index + 1) % len(df3)

# Create a new DataFrame from the collected rows
final_df = DataFrame(rows_to_print)

# Display the final DataFrame
print("\nFinal DataFrame (15 rows):")
print(final_df)

Final DataFrame (15 rows):
        City  Precipitation (mm)  Wind Speed (km/h)
0      Paris                 0.0                 10
1   New York                 5.0                 20
2      Tokyo                10.0                  5
3     Sydney                 0.0                 25
4     London                 2.5                 15
5      Paris                 0.0                 10
6   New York                 5.0                 20
7      Tokyo                10.0                  5
8     Sydney                 0.0                 25
9     London                 2.5                 15
10     Paris                 0.0                 10
11  New York                 5.0                 20
12     Tokyo                10.0                  5
13    Sydney                 0.0                 25
14    London                 2.5                 15